<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle">
	<div class="articleContentBox">

		{{#if icon}}
		<div class="articleImg">
			<img src={{page.icon}}>
		</div>
		{{/if}}
	</div>
	<div class="bundleTitle">
		{{title}}
	</div>
	<div class="contentMain">
		{{description}}
	</div>
</div>

{{#section 'foot'}}
	<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
