<div class="modalMask" id='modalMask' onclick=closeRecommendationsModal()></div>
<div class="requestModal" id='requestModal'>
  <form id="askform" action="{{page.wwUri}}/connect" method="post">
    <div class="modalContent">
      <div class="closeButton" onclick=closeRecommendationsModal()>
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
        <div class="questionBox">
          <textarea
            autofocus="true"
            id="questionInput"
            type="text"
            name="uri"
            placeholder="What should we read next? (paste url)"
          >{{inputURI}}</textarea>
          <input id="questionPageId" name="id" type="hidden"></input>
      </div>
      <div id="validateSection"> </div>
    </div>
    <div class="modalFooter">
      <div class="cancel underlineOnHover">Cancel</div>
      <input class="askButton" type="submit" value="Ask for Connections"></input>
    </div>
  </form>
</div>