<div class="pageCard">
  <div class="articleContentBox">
  	<div class="articleContent">
			<div class="titleURL">
				{{page.title}}
			</div>
			<div class="pageUrl">
				<span>{{page.pageUrl}}</span>
			</div>
			<div class="descriptionText">
				{{page.description}}
			</div>
		</div>
		{{#if page.icon}}
		<div class="articleImg">
			<img src={{page.icon}}>
		</div>
		{{/if}}
	</div>
	<div class="actionBar">
		<a class="askQuestionButton" onClick=openRecommendationsModal()>
			<div class="connectButton">
				Connect
			</div>
		</a>
	</div>
</div>