<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WikiWeb - discover and connect the best of the long tail.</title>

  <link rel="stylesheet" href="/static/css/app.css">

  {{{_sections.head}}}
</head>
<body>
    {{{body}}}
</body>
</html>
