{% extends 'auth.html' %}

{% block auth %}
  <div class="twitterLogin">

    <div class="loginBox">
      <div class="loginHeader">
        <img src="/img/WikiWeb.png" />
      </div>

      <div class='loginBody'>
        <div class="explanatoryModalTextBox">
          <p>Sign in to WikiWeb to connect ideas together and access a new way of exploring the Internet.</p>
        </div>
        <form action="/auth/twitter" method="GET">
          <button class="loginButtonTwitter" type="submit">
            <img alt="" src="/img/Twitter_Logo_White.svg"/>
            <span class="loginButtonText">Continue with Twitter</span>
          </button>
        </form>
      </div>

      <div class="loginFooter">
        <p>By signing up with Twitter, we’ll start you off with a network by automatically importing any followers/followees or friends already on WikiWeb. Also, we’ll never post to Twitter without your permission.</p>
      </div>
    </div>

  </div>








{% endblock %}
