<div style="text-align: center; margin-top: 50px;">
  <img src="/static/img/question.png" style="width: 250px;"><img>
  <div style="font-size: 40px; margin-top: 20px; padding-left: 20px;">404</div>
</div>
