{{#section 'head'}}
  <link rel="stylesheet" href="/static/css/auth.css">
{{/section}}

<div class="aboutPage">
	<div class="aboutContents">
    <img src="static/img/linked-list.png" style="width: 150px;"/>
  	<div class="header">About</div>
  	<div class="bodyCopy">
  		<p>We like to think of the WikiWeb as a map of the Internet.</p>
  		<p>The WikiWeb helps you find, discover and explore connections between web pages. You can use it to find similar articles to anything on the Internet, or to create pathways between content for others to follow.</p>
  		<p>The best way to get started is to paste a URL into the search bar and see what comes up. Search results are a combination of outbound hyperlinks from that anchor page, existing backlinks, and explicit connections made by members of the WikiWeb community. Explicit connections are suggestions by WikiWeb members indicating if you like <span style="text-decoration:underline;">this</span> then you will also like <span style="text-decoration:underline;">that</span>. You can also filter results by a range of topic areas.</p>
  		<p>Every connection you make adds to the fabric of the web and makes the world just that little bit smaller.</p>
  		<p><em>Capit a villa</em></p>

	    <br />
	    <div style="width: 100%; border-bottom: 1px solid rgba(0,0,0, 0.1); min-height: 1px"></div>

	    <br />
	    <p style="color: rgba(0,0,0, 0.6)">Wi·kiWeb
	    <br/>
	    /ˈwikē web/
	    <br/>
	    noun</p>
	    <p style="color: rgba(0,0,0, 0.6)"><em>A collaborative navigation layer for the World Wide Web that allows documents to be connected to other documents by hypertext links, enabling discovery of information as a user moves from one document to another.</em></p>
		</div>
	</div>
</div>