<div class="appNav">
	<div class="appNavInner">
		<div class="wikiwebLogo">
			WikiWeb
		</div>
		<div class="searchBox">
			<textarea
				placeholder="Ask or Search the WikiWeb"
			></textarea>
			<div class="submitButton">Search</div>
		</div>
		<div class="pageButtons">
			<div class="pageButton">
				<div class="buttonContents currentPage">
					<span class="icon">
						<i class="fa fa-hand-paper-o" aria-hidden="true"></i>
					</span>
					<span class="text">Requests</span>
				</div>
			</div>
			<div class="pageButton">
				<div class="buttonContents">
					<span class="icon">
						<i class="fa fa-bullseye" aria-hidden="true"></i>
					</span>
					<span class="text">Connections</span>
				</div>
			</div>
			<div class="pageButton">
				<div class="buttonContents">
					<span class="icon">
						<i class="fa fa-bell-o" aria-hidden="true"></i>
					</span>
					<span class="text">Notifications</span>
				</div>
			</div>
			<div class="pageButton">
				<div class="buttonContents">
					<span class="userImg">
						<img src="/static/img/profile.jpg" class="userImg" />
					</span>
					<span class="text">User</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="homePage">
	<div class="modalMask displayRequestModal"></div>
	<div class="requestModal displayRequestModal">
		<div class="modalContent">
			<div class="closeButton">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
			<div class="contentBox">
				<span class="userImg">
					<img src="/static/img/profile.jpg" />
				</span>
				<div>
					<span class="username underlineOnHover">Eoin McMillan</span>
					<span class="text">requests</span>
				</div>
			</div>
			<div class="questionBox">
				<textarea type="text" placeholder="What needs recommendations? (paste url)"></textarea>
			</div>
		</div>
		<div class="modalFooter">
			<div class="cancel underlineOnHover">Cancel</div>
			<div class="askButton">Ask for Connections</div>
		</div>
	</div>
	<div class="contentWrapper">
		<div class="layout_3col_left">
			<h3 class="title">
				<div class="title_with_link">
					Feeds
				</div>
			</h3>
			<div class="pagedList">
				<div class="pagedListItem top_stories nav_item_selected">
					<ul>
						<li>
							<a href="/">Top Stories</a>
						</li>
					</ul>
				</div>
				<div class="pagedListItem new_requests">
					<ul>
						<li>
							<a href="/">New Requests</a>
						</li>
					</ul>
				</div>
				<div class="pagedListItem new_connections">
					<ul>
						<li>
							<a href="/">New Connections</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="layout_3col_center">
			<div class="section_header">
				<div class="header_text">
					<span>Top Connections For You</span>
				</div>
			</div>

				<div class="addQuestionPrompt">
					<div class='inner'>
						<span class="nameWithPhoto">
							<span>
								<img class="profile_photo_img" src="/static/img/profile.jpg" />
							</span>
							<span>
								Eoin McMillan
							</span>
						</span>
					</div>
					<a class="askQuestionButton">
						<div class="inner">
							<span>What could you use a recommendation for?</span>
						</div>
					</a>
				</div>


				<div class="feedBundle">
					<div class="feedBundleMeta">
						<span class="feedItemType">Feed Question</span>
						<span class="bullet"> · </span>
						<span class="topic">
							<a>
								Class Warfare
							</a>
						</span>
						<span class="bullet"> · </span>
						<span class="feedReason">
							Topic you might like
						</span>
						<span class="bullet"> · </span>
						<span class="timestamp">
							<a>21m</a>
						</span>
					</div>
					<div class="bundleTitle">
						How a Single Gene Could Become a Volume Knob for Pain
					</div>
					<div class="contentHeader">
						<span class="imgWrapper">
							<img src="/static/img/example_user.jpeg" class="userImg" />
						</span>
						<span class="layoutTextWrapper">
							<div>
								<span class="username">Adam D'Angelo</span><span class="userInfo">, CEO at Quora
								</span>
							</div>
							<div class="credibilityFacts feedBundleMeta">
								<span class="timestamp">
									<a>Connected 13h ago</a>
								</span>
								<span class="bullet"> · </span>
								<span class="hoverUnderline">
									<a>Requested by Eoin McMillan</a>
								</span>
							</div>
						</span>
					</div>
					<div class="contentMain">
						Harnessing rare genetic mutations could help end America's opioid epidemic.
					</div>
					<div class="actionBar">
						<span class="upvoteButton">
							Upvote
						</span>
						<span class="downvote underlineOnHover">
							Downvote
						</span>
						<span class="comments underlineOnHover">
							Comments<span class="commentsTotal">10</span>
						</span>
						<div class="socialShare">
							<span class="shareIcon">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-share-square-o" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>


				<div class="feedBundle">
					<div class="feedBundleMeta">
						<span class="feedItemType">Feed Question</span>
						<span class="bullet"> · </span>
						<span class="topic">
							<a>
								Class Warfare
							</a>
						</span>
						<span class="bullet"> · </span>
						<span class="feedReason">
							Topic you might like
						</span>
						<span class="bullet"> · </span>
						<span class="timestamp">
							<a>21m</a>
						</span>
					</div>
					<div class="bundleTitle">
						How a Single Gene Could Become a Volume Knob for Pain
					</div>
					<div class="contentHeader">
						<span class="imgWrapper">
							<img src="/static/img/example_user.jpeg" class="userImg" />
						</span>
						<span class="layoutTextWrapper">
							<div>
								<span class="username">Adam D'Angelo</span><span class="userInfo">, CEO at Quora
								</span>
							</div>
							<div class="credibilityFacts feedBundleMeta">
								<span class="timestamp">
									<a>Connected 13h ago</a>
								</span>
								<span class="bullet"> · </span>
								<span class="hoverUnderline">
									<a>Requested by Eoin McMillan</a>
								</span>
							</div>
						</span>
					</div>
					<div class="contentMain">
						Harnessing rare genetic mutations could help end America's opioid epidemic.
					</div>
					<div class="actionBar">
						<span class="upvoteButton">
							Upvote
						</span>
						<span class="downvote underlineOnHover">
							Downvote
						</span>
						<span class="comments underlineOnHover">
							Comments<span class="commentsTotal">10</span>
						</span>
						<div class="socialShare">
							<span class="shareIcon">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-share-square-o" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>


				<div class="feedBundle">
					<div class="feedBundleMeta">
						<span class="feedItemType">Feed Question</span>
						<span class="bullet"> · </span>
						<span class="topic">
							<a>
								Class Warfare
							</a>
						</span>
						<span class="bullet"> · </span>
						<span class="feedReason">
							Topic you might like
						</span>
						<span class="bullet"> · </span>
						<span class="timestamp">
							<a>21m</a>
						</span>
					</div>
					<div class="bundleTitle">
						How a Single Gene Could Become a Volume Knob for Pain
					</div>
					<div class="contentHeader">
						<span class="imgWrapper">
							<img src="/static/img/example_user.jpeg" class="userImg" />
						</span>
						<span class="layoutTextWrapper">
							<div>
								<span class="username">Adam D'Angelo</span><span class="userInfo">, CEO at Quora
								</span>
							</div>
							<div class="credibilityFacts feedBundleMeta">
								<span class="timestamp">
									<a>Connected 13h ago</a>
								</span>
								<span class="bullet"> · </span>
								<span class="hoverUnderline">
									<a>Requested by Eoin McMillan</a>
								</span>
							</div>
						</span>
					</div>
					<div class="contentMain">
						Harnessing rare genetic mutations could help end America's opioid epidemic.
					</div>
					<div class="actionBar">
						<span class="upvoteButton">
							Upvote
						</span>
						<span class="downvote underlineOnHover">
							Downvote
						</span>
						<span class="comments underlineOnHover">
							Comments<span class="commentsTotal">10</span>
						</span>
						<div class="socialShare">
							<span class="shareIcon">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-share-square-o" aria-hidden="true"></i>
							</span>
							<span class="shareIcon">
								<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>


			</div>



			<div class="layout_3col_right">
				<div class="identityModule">
					<div class="top_rail"></div>
					<div class="actor">
						<div class="profile_img_box">
							<img class="profile_img" src="/static/img/example_profile.jpg"/>
						</div>
						<div class="actor_info">
							<div class="fullname">
								<a>Eoin McMillan</a>
							</div>
							<div class="title">Partner @ SFDevLabs
							</div>
						</div>
					</div>
					<div class="stats">
						<div class="number">56</div>
						<div class="text">Requests</div>
						<div class="divider"></div>
						<div class="number">1096</div>
						<div class="text">Connections</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{{#section 'foot'}}
<script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script>
{{/section}}
