{{> navbar navIndex='home'}}
{{> messages }}

<div class="homePage">
	{{> modalRequest }}
	<div class="contentWrapper">
		<div class="layout_3col_left">
			<h3 class="title">
				<div class="title_with_link">
					Feeds
				</div>
			</h3>
			<div class="pagedList">
				<div class="pagedListItem top_stories" id="sidebarTopStories">
					<ul>
						<li>
							<a href="/">Recent Connections</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="layout_3col_center">
			<div class="section_header">
				<div class="header_text">
					<span>Recent Activity</span>
				</div>
			</div>

			{{#each feed}}
				{{#if connections}}
					{{> homefeedconnection}}
				{{/if}}
			{{/each}}
			<a href="/?limit={{limit}}&offset={{offset}}" class="moreButton" style="margin-top: 16px; width: 100px; background-color: purple; color: white; height: 30px; padding-top: 5px; border-color: purple;">More</a>


		</div>

			<div class="layout_3col_right">
				{{#if user}}
				{{> identityModule}}
				{{/if}}
			</div>
		</div>
	</div>
</div>

{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.debounce-1.0.5.js"></script>
<script type="application/javascript" src="/static/js/handlebars.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
