{{> messages }}

<div class="homePage">
	<form id="askform" class="searchBox" action="/search" method="get">
		<input
			type="text"
			id="email"
			name="q"
			value="{{inputURI}}"
			placeholder="Search (paste URL)"
		></input>
		<input id="navbarSearchButton" class="submitButton" type="submit" value="Submit"></input>
	</form>
</div>


{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.debounce-1.0.5.js"></script>
<script type="application/javascript" src="/static/js/handlebars.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
