<div class="landingPage">
	<div class="bgContainer">
		<div class="bgImage"></div>
	</div>
	<div class="landingPageSignupForm">
		<div class="headline">
			<h1>WikiWeb</h1>
		  <h2>A place to connect ideas and better navigate the web 
		</div>
		<div class="container">
			<div class="content_inner">
				<div class="signup_login">
					<div class="signup">
						<div class="connect_buttons_row">
							<div class="connect_with_email">
								<span class="connect_with_email_text">
									<span class="connect_with_email_icon">
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
									</span>
									Continue with Email</span>
							</div>
						</div>
						<div class="TosDisclaimer">
							By signing up you indicate that you have read and agree to the Terms of Service and Privacy Policy.
						</div>
					</div>
					<div class="login">
				  	<div class="regular_login">
			  			<form class="inline_login_form" method="POST" id="login_form">
			  				<div class="title login_title">Login</div>
			  				<div class="form_inputs">
			  					<div class="form_column">
			  						<input class="text header_login_text_box" type="text" placeholder="Email" name="email" tabindex="1">
			  					</div>
			  					<div class="form_column top_five">
			  						<input class="text header_login_text_box" type="password" placeholder="Password" name="password" tabindex="2">
			  					</div>
			  					<div class="form_column">
			  						<span class="login_options">
			  							<a class="forgot_password" href="forgotPassword">Forgot Password?</a>
			  						</span>
			  						<span class="submit_button_box">
			  							<input class="submit_button" type="submit" value="Login" tabindex="4">
			  						</span>
			  					</div>
			  				</div>
				  		</form>
				  	</div>
					</div>
				</div>
			</div>
			<div class="footerNav">
				<ul class="navList">
					<li><a href="/about">About</a></li>
					<li><a href="/sitemap">Sitemap<a/></li>
					<li><a href="/privacy">Privacy</a></li>
					<li><a href="/feedback">Feedback</a></li>
					<li><a href="/terms">Terms</a></li>
				</div>
			</div>
		</div>
	</div>
  
</div>
