<div class="landingPage">
	<div class="bgContainer">
		<div class="bgImage"></div>
	</div>
	<div class="landingPageSignupForm">
		<div class="container">
			<div class="headline">
				<h1>WikiWeb</h1>
			  {{!-- <h2>A place to connect ideas and better navigate the web</h2> --}}
			  <h2><em>The surf engine you've been waiting for.</em></h2>
			</div>
			
			<div class="footerNav">
				<ul class="navList">
					<li><a href="/about">About</a></li>
				</ul>
			</div>

		</div>
		<img src="/static/img/connect_tree.png" style="height: 400px; margin-top: 50px; margin-left: 200px;"/>
	</div>
</div>
