{{> navbar navIndex='page'}}

<div class="resultPage">
	{{> modalconnect}}
	{{> messages}}
	<div class="contentWrapper">
		<div class="layout_3col_left">
			<h3 class="title">
				<div class="title_with_link">
					Topics
				</div>
			</h3>
			<div class="pagedList">
				{{#if page.isParsed}}
					<input hidden type="checkbox" id="isParsed" checked>
				{{else}}
					<p>Spinner</p>
					<input hidden type="checkbox" id="isParsed">
				{{/if}}
				{{#each tags}}
					<div class="pagedListItem top_stories">
						<ul>
							<li>
								<a href="/">{{this.label}} (1)</a>
							</li>
						</ul>
					</div>
				{{/each}}
			</div>
		</div>
		<div class="layout_3col_center">
			{{> pageCard }}
			{{#if destinations}}
				{{#each destinations}}
					{{> pageConnection }}
				{{/each}}
			{{else}}
				<div style="margin-top: 30px;">
					<b>There are no connections to this page yet. Be the first to add one!</b>
				</div>
			{{/if}}

		</div>
		<div class="layout_3col_right">
			{{toJSON connectionUsers}}
		</div>
	</div>
</div>

{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.debounce-1.0.5.js"></script>
<script type="application/javascript" src="/static/js/handlebars.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
