{{> navbar navIndex='requests'}}

{{#if errorMessage}}
	<div style="top:70px; left:50px; position: absolute;" class="alert alert-danger">
		{{errorMessage}}
	</div>
{{/if}}

<div class="requestPage">

	{{> modalRequest}}

	<div class="contentWrapper">
		{{> messages}}
		<div class="layout_3col_center">
			<div class="section_header">
				<div class="header_text">

			{{#each pages}}
				{{> homefeedrequest}}
			{{/each}}
			</div>
		</div>
	</div>

</div>
{{#section 'foot'}}
<script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.debounce-1.0.5.js"></script>
<script type="application/javascript" src="/static/js/handlebars.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
