{{> navbar navIndex='search'}}

{{#if errorMessage}}
	<div style="top:70px; left:50px; position: absolute;" class="alert alert-danger">
		{{errorMessage}}
	</div>
{{/if}}

<div class="searchPage">

	{{> modalRequest}}

	<div class="contentWrapper">
		{{> messages}}
		<div class="layout_3col_center">
			<div class="section_header">
				<div class="header_text">
					{{#if (isLength pages.length 0)}}
					<span>No Result Found</span>
					<div class="noResultFound">
						{{!-- <div class="titleURL">
							THE SEARCHED URL IS SUPPOSED TO GO HERE
						</div> --}}
						<div class="descriptionText">
							<em>The link you have requested does not exist inside the WikiWeb. This means nobody has made recommendations for it yet. </em>
						</div>
						<div class="actionBar">
							<a onClick=openRecommendationsModal() href="javascript:void()" class="connectButton">
								Request Recommendations
							</a>
						</div>
					</div>
					{{else}}
					 	{{#if (isLength pages.length 1)}}
						<span>Found 1 Result</span>
						{{else}}
						<span>Found {{pages.length}} Results</span>
						{{/if}}
				</div>
			</div>
			{{/if}}
	
			{{#each pages}}
				{{> homefeedrequest}}
			{{/each}}
			</div>
		</div>
	</div>

</div>
{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
