$success-green: #66AD57;
$success-green-overlay: #5B9E4D;
$failure-red: #FF0000;
$background-grey: #F5F8FA;
$border-color: rgb(225, 232, 237);
$card-left-width: 60px;

body {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  margin: 50px 0px 20px;
  background-color: $background-grey;
  .noUnderline {
    text-decoration: none;
  }
  .noUnderline:hover {
    text-decoration: none;
  }
  .cursorPointer:hover {
    cursor: pointer;
  }
  .card-left-col {width: $card-left-width; float: left;}
  .card-right-col {width: calc(100% - #{$card-left-width}); float: left;}
  .default-card {
    &:hover { background-color: #F5F8FA !important; }
    border: 1px solid rgb(225, 232, 237);
    background-color: white;
  }
  .edge-card-info {
    padding-bottom: 4px;
  }
  .invertibleButton:hover {
    color: white;
    background-color: orange;
  }
  .badge-styling {
    background-color: transparent;
    border: 1px solid orange;
    color: orange;
    padding-left: 6px;
    padding-right: 7px;
  }
  .connect-icon:hover, .connect-icon-box:hover {
    background-color: orange;
    color: white !important;
  }

  /**************************/
  /** NAVBAR SECTION **/
  /**************************/
  .purpleNavbar { 
    color: rgba(128,0,128, 0.9) !important; 
  }
  .purpleNavbar:hover { color: purple !important; }
  .navbar {
    border-top: 3px solid purple;
    .connect-icon-box{ color: orange; }
    .connect-icon {
      width: 20px;
      height: auto;
    }
  }
  /**************************/
  /** END NAVBAR SECTION **/
  /**************************/

  /**************************/
  /** LOGIN MODAL SECTION **/
  /**************************/
  .loginModal {
    .loginModalHeader {
      background-color: #f0f0f0;
    }
    .explanatoryModalText {
      font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: 16px;
      margin-top: 12px;
      margin-bottom: 12px;
      color: rgba(0,0,0,.6);
    }
    .loginButtonTwitter {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border:none;
      background-color: #55acee;
      width: 100%;
      text-align: left;
      padding-left: 24px;
      color: white;
      height: 6rem;
    }
    .loginButtonTwitter:hover {
      background-color: #006DAA;
    }
    .loginButtonTwitter:active {
      outline: none;
      border: none;
    }
    .loginButtonTwitterIcon {
      font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: 20px;
      width: 32px;
      margin-left: 14px;
    }
    .loginButtonText{
      font-size: 14px;
    }
    .loginModalFooter {
      margin: auto;
    }
    .permissionsText {
      font-size: 10px;
      text-align: left;
      margin: auto;
      color: #b3b3b1;
      font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: 14px;
    }
  }

  /**************************/
  /** END LOGIN MODAL SECTION **/
  /**************************/

  /**************************/
  /** HOMEPAGE SECTION **/
  /**************************/
  .homepageTopModule {
    background-color: white;
    .pageContents {
      margin: auto;
      display: flex;
      flex-direction: row;
    }
    .rightSide, .leftSide {
      padding-left: 28px;
      padding-right: 32px;
    }
    .leftSide {
      width: 36%;
    }
    .mainBox {
      display: block;
      margin: auto;
    }
    @media only screen
    and (max-width : 767px) {
      .rightSide,
        min-width: 276px;
      }
      .mainBox {
        width: 90%;
      }
    }

    @media only screen
    and (min-width : 768px)
    and (max-width : 991px) {
      .rightSide, {
        width: 419px;
      }
      .mainBox {
        width: 700px;
      }
    }

    @media only screen
    and (min-width : 992px)
    and (max-width : 1023px) {
      .rightSide, {
        width: 419px;
      }
      .mainBox {
        width: 920px;
      }
    }

    @media only screen
    and (min-width : 1024px)
    and (max-width : 1199px) {
      .rightSide, {
        width: 519px;
      }
      .mainBox {
        width: 920px;
      }
    }

    @media only screen 
    and (min-width : 1200px){
      .rightSide,  {
        width: 519px;
      }
      .mainBox {
        width: 1120px;
      }
    }
    .indicators li {
      display: inline-block;
      width: 8px;
      height: 8px;
      text-indent: -999px;
      cursor: pointer;
      background-color: white;
      border: 1px solid rgba(150,150,150,1);
      border-radius: 10px;
    }
    .indicators .active {
      width: 8px;
      height: 8px;
      margin: 0;
      background-color: rgba(100,100,100,1);
    }
    .is-url{
      color: $success-green;
    }
    .is-not-url{
      color: $failure-red;
    }
    .subnavBar {
      width: 220px;
      margin: auto;
      .navOptions {
        text-align: center;
        font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
        font-size: 16px;
        margin-top: 12px;
        span {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  /**************************/
  /** END HOMEPAGE SECTION **/
  /**************************/

  /**************************/
  /** NODE PAGE SECTION **/
  /**************************/

  .highlight-first >div:first-child{
    border: 2px solid #dff0d8;
  }

  /**************************/
  /** END RESULT NODE SECTION **/
  /**************************/

  /**************************/
  /** INPUT BUTTON COMPONENT  **/
  /**************************/
  .input-button a:focus {
    outline:none;
  }
  /**************************/
  /**  INPUT BUTTON PAGE SECTION **/
  /**************************/

  /**************************/
  /** STATUS BUTTON COMPONENT  **/
  /**************************/
  .status-icon:focus {
    outline:none;
  }
  /**************************/
  /** END CONNECT PAGE SECTION **/
  /**************************/

  /**************************/
  /** CONNECT PAGE SECTION **/
  /**************************/
  .edgeTags {
    margin-left: 60px;
    height: 25px;
    span {
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 5px;
      border: 1px solid orange;
      border-radius: 3px;
    }
    span:hover {
      background-color: orange;
    }
  }

  .connectionForm {
    margin-top: 50px;
  }
  /**************************/
  /** END CONNECT PAGE SECTION **/
  /**************************/

  /**************************/
  /** USER PAGE SECTION **/
  /**************************/
  .connectionLiElement {
    margin-bottom: 5px;
  }

  .userBox {
    float: left;
  }

  @media only screen
    and (max-width : 846px) {
    .userBox {
      margin-left: 20px;
    }
  }
  /**************************/
  /** END USER PAGE SECTION **/
  /**************************/

  .twitterLogin {
    background: #F5F8FA;
    display: block;
    width: 100%;
    text-align: center;
    .loginBox {
      background-color: white;
      border: 1px solid #e5e5e5;
      width: 555px;
      margin-left: auto;
      margin-right: auto;
      .loginHeader {
        background-color: #f0f0f0;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e5e5e5;
        img {
          display: block;
          margin: auto;
          width: 250px;
        }
      }
      .loginBody {
        padding: 15px;
        .explanatoryModalTextBox {
          text-align: left;
          p {
            font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
            font-size: 16px;
            margin-top: 12px;
            margin-bottom: 12px;
            color: rgba(0,0,0,.6);
          }
        }
        form {
          .loginButtonTwitter {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border:none;
            background-color: #55acee;
            width: 100%;
            text-align: left;
            padding-left: 24px;
            color: white;
            height: 6rem;
          }
          .loginButtonTwitter:hover {
            background-color: #006DAA;
          }
          .loginButtonTwitter:active {
            outline: none;
            border: none;
          }
          img {
            height: 40px;
          }
          span {
            padding-left: 10px;
          }
        }
      }
      .loginFooter {
        border-top: 1px solid #e5e5e5;
        padding: 15px;
        p {
          font-size: 10px;
          text-align: left;
          margin: auto;
          color: #b3b3b1;
          font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
          font-size: 14px;
        }
      }

    }


    .twitterBox {
      display: block;
      display: block;
      img {
        height: 100px;
        width: 100px;
      }
    }
  }

}
