body {
  margin-top: 50px;
  .navbar {
    .connect-icon-box {
      margin-right: 10px;
    }
    .connect-icon {
      width: 20px;
      height: auto;
    }
    .user-icon-box {
      margin-right: 20px;
    }
    .user-icon {
      width: 20px;
      height: auto;
    }
  }
  .twitterModalLogo {
    width: 100px;
  }
}
