body {
  margin-top: 50px;
  .top-twenty {
    margin-top: 20px;
  }
  .marginAuto {
    margin: auto;
    display: block;
  }
  .displayBlock {
    display: block;
  }

  /**************************/
  /** NAVBAR SECTION **/
  /**************************/
  .navbar {
    .connect-icon-box {
      margin-right: 10px;
    }
    .connect-icon {
      width: 20px;
      height: auto;
    }
    .user-icon-box {
      margin-right: 20px;
    }
    .user-icon {
      width: 20px;
      height: auto;
    }
  }
  /**************************/
  /** END NAVBAR SECTION **/
  /**************************/

  /**************************/
  /** LOGIN MODAL SECTION **/
  /**************************/
  .loginModalHeader {
    background-color: #f0f0f0;
  }
  .modalHeaderIcon {
    display: block;
    margin: auto;
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .explanatoryModalText {
    font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgba(0,0,0,.6);
  }
  .loginButtonTwitter {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
    background-color: #55acee;
    width: 100%;
    text-align: left;
    padding-left: 24px;
    color: white;
    height: 6rem;
  }
  .loginButtonTwitter:hover {
    background-color: #006DAA;
  }
  .loginButtonTwitter:active {
    outline: none;
    border: none;
  }
  .loginButtonTwitterIcon {
    font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 20px;
    width: 32px;
    margin-left: 14px;
  }
  .loginButtonText{
    font-size: 14px;
  }
  .loginModalFooter {
    margin: auto;
  }
  .permissionsText {
    font-size: 10px;
    text-align: left;
    margin: auto;
    color: #b3b3b1;
    font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
  }
  /**************************/
  /** END LOGIN MODAL SECTION **/
  /**************************/

  /**************************/
  /** HOMEPAGE SECTION **/
  /**************************/
  .homepageBannerIcon {
    display: block;
    margin: auto;
    margin-top: 150px;
    max-width: 350px;
  }
  .homepageUrlSearchForm {
    display: block;
    margin: auto;
    margin-top: 75px;
    max-width: 700px;
  }
  .homepageUrlSearchInputGroup {
    margin: auto;
    width: 600px;
    max-width: 700px;
    border-right: none;
  }
  .homepageUrlSearchBox {
    width: 640px;
    height: 43px;
    border-right: none;
  }
  .homepageUrlSearchIconBox {
    height: 43px;
    width: 52px;
    background-color: white;
    border-left: none;
  }
  .homepageUrlSearchIconBox:hover{
    background-color: #66AD57;
  }
  .glyphicon.glyphicon-search {
    font-size: 20px;
  }

  /**************************/
  /** END HOMEPAGE SECTION **/
  /**************************/

  /**************************/
  /** RESULT PAGE SECTION **/
  /**************************/

  .resultNodeCard {
    margin-top: 50px;
    height: 150px;
    padding-top: 20px;
    color: #555;
    font-family: "Helvetica Neue", "Lucida Grande", "Arial";
    .resultFont {
      font-size: 18px;
    }
    .resultNodeHyperlinkText{
      font-size: 12px;
    }
    .resultInfo {
    }
    .resultNodeAddConnectionBox {
      margin-bottom: 8px;
    }
    .resultNodeAddConnectionBox:hover {
      background-color: orange;
    }

    .resultNodeAddConnectionImg {
      height: 50px;
    }
    .resultNodeAddConnectionImg:hover {
      background-color: orange;
    }
    .connectorIconBox {
      margin-right: 5px;
    }
    .connectorIcon {
      width: 20px;
    }
  }

  .resultsSection {
    .connectionCard {
      display: block;
      margin-bottom: 10px;
      height: 36px;
      color: #555;
      font-size: 13px;
      font-family: "Helvetica Neue", "Lucida Grande", "Arial";
      padding-left: 15px;
      padding-top: 10px;
    }
    a { color: inherit; }
    img {
      margin-top: -5px;
      width: 15px;
    }
    .connectionCard:hover{
      background-color: #ECE9E9;
    }
    .connectionCardText {
      float: left;
    }
    .connectionCardInfo {
      float: right;
      display: none;
      .connectionCardInfoElement {
        margin-left: 8px;
      }
    }
    .connectionCard:hover{
      .connectionCardInfo{
        display: block;
      }
    }
  }


  /**************************/
  /** END RESULT PAGE SECTION **/
  /**************************/

}
