body {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  margin-top: 50px;
  /**************************/
  /** NAVBAR SECTION **/
  /**************************/
  /**************************/
  /** END NAVBAR SECTION **/
  /**************************/
  /**************************/
  /** LOGIN MODAL SECTION **/
  /**************************/
  /**************************/
  /** END LOGIN MODAL SECTION **/
  /**************************/
  /**************************/
  /** HOMEPAGE SECTION **/
  /**************************/
  /**************************/
  /** END HOMEPAGE SECTION **/
  /**************************/
  /**************************/
  /** RESULT PAGE SECTION **/
  /**************************/
  /**************************/
  /** END RESULT PAGE SECTION **/
  /**************************/
  /**************************/
  /** CONNECT PAGE SECTION **/
  /**************************/
  /**************************/
  /** END CONNECT PAGE SECTION **/
  /**************************/
  /**************************/
  /** USER PAGE SECTION **/
  /**************************/
  /**************************/
  /** END USER PAGE SECTION **/
  /**************************/ }
  body .top-twenty {
    margin-top: 20px; }
  body .marginAuto {
    margin: auto;
    display: block; }
  body .displayBlock {
    display: block; }
  body .pageTitle {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-size: 18px;
    margin-top: 20px; }
  body .navbar .connect-icon-box {
    margin-right: 10px; }
  body .navbar .connect-icon {
    width: 20px;
    height: auto; }
  body .navbar .user-icon-box {
    margin-right: 20px; }
  body .navbar .user-icon {
    width: 20px;
    height: auto; }
  body .loginModalHeader {
    background-color: #f0f0f0; }
  body .modalHeaderIcon {
    display: block;
    margin: auto;
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px; }
  body .explanatoryModalText {
    font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.6); }
  body .loginButtonTwitter {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #55acee;
    width: 100%;
    text-align: left;
    padding-left: 24px;
    color: white;
    height: 6rem; }
  body .loginButtonTwitter:hover {
    background-color: #006DAA; }
  body .loginButtonTwitter:active {
    outline: none;
    border: none; }
  body .loginButtonTwitterIcon {
    font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 20px;
    width: 32px;
    margin-left: 14px; }
  body .loginButtonText {
    font-size: 14px; }
  body .loginModalFooter {
    margin: auto; }
  body .permissionsText {
    font-size: 10px;
    text-align: left;
    margin: auto;
    color: #b3b3b1;
    font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 14px; }
  body .indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -999px;
    cursor: pointer;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px; }
  body .indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: red; }
  body .homepageGalacticIcon {
    padding-left: 40px;
    display: block;
    margin: auto;
    margin-top: 100px;
    max-width: 350px; }
  body .homepageBannerIcon {
    padding-left: 40px;
    display: block;
    margin: auto;
    /*margin-top: 350px;*/
    max-width: 350px; }
  body .homepageUrlSearchForm {
    display: block;
    margin: auto;
    margin-top: 50px;
    max-width: 700px; }
  body .homepageUrlSearchInputGroup {
    margin: auto;
    width: 600px;
    max-width: 700px;
    border-right: none; }
    body .homepageUrlSearchInputGroup.is-url > * {
      border-color: blue; }
    body .homepageUrlSearchInputGroup.is-not-url > * {
      border-color: red; }
    body .homepageUrlSearchInputGroup .homepageUrlSearchBox {
      width: 640px;
      height: 43px;
      outline: none; }
    body .homepageUrlSearchInputGroup .homepageUrlSearchIconBox {
      height: 43px;
      width: 52px;
      background-color: white;
      border-left: none; }
    body .homepageUrlSearchInputGroup .homepageUrlSearchBox {
      outline: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important; }
    body .homepageUrlSearchInputGroup .glyphicon.glyphicon-search {
      font-size: 20px; }
  body .resultNodeCard {
    margin-top: 50px;
    height: 150px;
    padding-top: 20px;
    color: #555;
    font-family: "Helvetica Neue", "Lucida Grande", "Arial"; }
    body .resultNodeCard .resultFont {
      font-size: 18px; }
    body .resultNodeCard .resultNodeHyperlinkText {
      font-size: 12px; }
    body .resultNodeCard .resultNodeAddConnectionBox {
      margin-bottom: 8px; }
    body .resultNodeCard .resultNodeAddConnectionBox:hover {
      background-color: orange; }
    body .resultNodeCard .resultNodeAddConnectionImg {
      height: 50px; }
    body .resultNodeCard .resultNodeAddConnectionImg:hover {
      background-color: orange; }
    body .resultNodeCard .connectorIconBox {
      margin-right: 5px; }
    body .resultNodeCard .connectorIcon {
      width: 20px; }
  body .resultsSection .connectionCard {
    display: block;
    margin-bottom: 10px;
    height: 36px;
    color: #555;
    font-size: 13px;
    font-family: "Helvetica Neue", "Lucida Grande", "Arial";
    padding-left: 15px;
    padding-top: 10px; }
  body .resultsSection a {
    color: inherit; }
  body .resultsSection img {
    margin-top: -5px;
    width: 15px; }
  body .resultsSection .connectionCard:hover {
    background-color: #ECE9E9; }
  body .resultsSection .connectionCardText {
    float: left; }
  body .resultsSection .connectionCardInfo {
    float: right;
    display: none; }
    body .resultsSection .connectionCardInfo .connectionCardInfoElement {
      margin-left: 8px; }
  body .resultsSection .connectionCard:hover .connectionCardInfo {
    display: block; }
  body .connectionForm {
    margin-top: 50px; }
  body .connectionLiElement {
    margin-bottom: 5px; }

/*# sourceMappingURL=app.css.map */
