/*
 * Base structure
 */
body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px; }

.landingPage .landingPageSignupForm {
  width: 650px;
  position: absolute;
  bottom: initial;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: hidden;
  top: 10%; }

.landingPage .headline {
  text-align: center; }

.landingPage .container {
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 6px 0 rgba(200, 200, 200, 0.2);
  border-radius: 4px;
  margin-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .landingPage .container .footerNav {
    display: block;
    padding: 16px;
    border-top: 1px solid #e2e2e2;
    background: #f7f7f7;
    word-wrap: break-word;
    color: #333;
    font-size: 13px;
    text-align: center; }
    .landingPage .container .footerNav .navList {
      display: inline-block;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .landingPage .container .footerNav .navList li {
        float: left;
        margin-right: 16px; }
      .landingPage .container .footerNav .navList a {
        color: rgba(175, 175, 175, 0.95);
        text-decoration: none; }

.landingPage .content_inner {
  padding: 32px; }
