/*
 * Base structure
 */
html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4; }

body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  height: 100%;
  word-wrap: break-word;
  color: #333;
  font-size: 13px;
  overflow-y: scroll;
  overflow-x: auto; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  background: transparent; }

img {
  border: 0; }

.top_five {
  margin-top: 5px; }

.underlineOnHover:hover {
  text-decoration: underline; }

.landingPage .headline {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center; }
  .landingPage .headline h1 {
    font-family: "Andale Mono";
    font-size: 48px;
    font-weight: 900;
    margin: 8px 0 32px;
    color: purple; }
  .landingPage .headline h2 {
    font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
    font-size: 19px;
    font-weight: 400;
    margin: 8px 0 32px;
    margin-top: -15px;
    color: #999; }

.landingPage .landingPageSignupForm {
  width: 650px;
  position: absolute;
  bottom: initial;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: hidden;
  top: 10%; }

.landingPage .container {
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 6px 0 rgba(200, 200, 200, 0.2);
  border-radius: 4px;
  margin-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .landingPage .container .content_inner {
    margin-bottom: 10px; }
    .landingPage .container .content_inner .signup_login {
      color: #333;
      word-wrap: break-word;
      font-weight: 400;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 13px;
      line-height: 1.4; }
      .landingPage .container .content_inner .signup_login .signup {
        height: 140px;
        /* for the border */
        padding-right: 32px;
        width: 50%;
        box-sizing: border-box;
        position: relative;
        float: left; }
        .landingPage .container .content_inner .signup_login .signup .connect_buttons_row .connect_with_email_icon {
          float: left;
          content: "";
          margin-right: 8px;
          display: inline-block;
          width: 16px;
          height: 16px;
          background-size: 16px 16px;
          color: white; }
        .landingPage .container .content_inner .signup_login .signup .connect_buttons_row .connect_with_email_text {
          color: white;
          float: left;
          background-color: purple;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
          border-radius: 3px;
          box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
          display: inline-block;
          font-weight: 500;
          outline: 0;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          margin-bottom: 16px;
          font-size: 17px;
          padding: 8px 16px;
          width: 260px; }
        .landingPage .container .content_inner .signup_login .signup .connect_buttons_row .connect_with_email_text:hover {
          opacity: 0.9; }
        .landingPage .container .content_inner .signup_login .signup .TosDisclaimer {
          color: #999;
          font-size: 13px; }
      .landingPage .container .content_inner .signup_login .signup:after {
        content: "";
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #e2e2e2;
        left: 100%; }
      .landingPage .container .content_inner .signup_login .login {
        padding-left: 32px;
        width: 50%;
        box-sizing: border-box;
        float: left; }
        .landingPage .container .content_inner .signup_login .login .regular_login {
          display: block; }
          .landingPage .container .content_inner .signup_login .login .regular_login form {
            display: block;
            margin-top: 0em; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .title {
              margin-bottom: 8px;
              font-weight: bold; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column input {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              outline: 0;
              border: 1px solid #e2e2e2;
              border-radius: 3px;
              box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
              -webkit-transition: border-color .2s;
              transition: border-color .2s;
              -webkit-transition: border-color .2s 180ms ease-in-out 0s;
              -o-transition: border-color .2s 180ms ease-in-out 0s;
              transition: border-color .2s 180ms ease-in-out 0s;
              background-color: #EEE;
              width: 100%;
              font-size: 15px;
              line-height: 1.4;
              min-height: 32px;
              margin-bottom: 8px;
              padding: 3px 5px;
              height: 15px;
              padding-left: 8px;
              padding-right: 8px; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column input:focus {
              border-color: #333; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column .login_options a {
              text-decoration: none;
              color: #999;
              font-weight: 400;
              font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
              font-size: 13px;
              line-height: 1.4;
              word-wrap: break-word; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column .login_options a:hover {
              text-decoration: underline; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column .submit_button_box {
              width: 60px;
              float: right; }
              .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column .submit_button_box .submit_button {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
                border-radius: 3px;
                box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
                display: inline-block;
                font-weight: 500;
                outline: 0;
                padding: 3px 7px 4px 7px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                background: #3e78ad;
                color: #fff;
                border: 1px solid #3a66ad;
                box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6);
                font-size: 15px;
                line-height: 1.4;
                opacity: 0.5; }
  .landingPage .container .footerNav {
    display: block;
    padding: 16px;
    border-top: 1px solid #e2e2e2;
    background: #f7f7f7;
    word-wrap: break-word;
    color: #333;
    font-size: 13px;
    text-align: center; }
    .landingPage .container .footerNav .navList {
      display: inline-block;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .landingPage .container .footerNav .navList li {
        float: left;
        margin-right: 16px; }
      .landingPage .container .footerNav .navList a {
        color: rgba(175, 175, 175, 0.95);
        text-decoration: none; }

.landingPage .content_inner {
  padding: 32px;
  height: 130px; }

.loginPage .container {
  padding-top: 10px;
  padding-bottom: 10px; }
  .loginPage .container form {
    border: 1px solid purple; }
  .loginPage .container img {
    height: 50px; }

.homePage .contentWrapper {
  background-color: beige;
  width: 1002px;
  margin: 53px auto 0;
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  /* end layout_3col_left */
  /* end layout_3col_center */
  /* end layout_3col_right */ }
  .homePage .contentWrapper .layout_3col_left {
    width: 142px;
    float: left;
    min-height: 1px;
    clear: left;
    font-size: 13px; }
    .homePage .contentWrapper .layout_3col_left .title {
      color: #333;
      font-weight: 500;
      position: relative;
      border-bottom: 1px solid #e2e2e2;
      margin: 0;
      padding: 0;
      padding-bottom: 8px;
      font-size: 15px;
      letter-spacing: 0;
      text-transform: none;
      margin-bottom: 8px;
      position: relative; }
      .homePage .contentWrapper .layout_3col_left .title .title_with_link {
        color: #333;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0;
        text-transform: none;
        line-height: 1.4; }
    .homePage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li {
      padding: 4px 5px;
      margin: 0 0 0 -5px;
      width: 100%; }
      .homePage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li a {
        margin-bottom: 2px;
        margin-top: 2px;
        display: inline-block;
        color: #666; }
      .homePage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li a:hover {
        color: #2b6dad; }
    .homePage .contentWrapper .layout_3col_left .nav_item_selected > ul > li {
      background-color: #ececec;
      border-radius: 3px;
      cursor: default;
      font-weight: 400;
      color: #666; }
  .homePage .contentWrapper .layout_3col_center {
    line-height: 1.4;
    width: 572px;
    float: left;
    min-height: 1px;
    margin-left: 30px; }
    .homePage .contentWrapper .layout_3col_center .section_header {
      display: flex;
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 8px; }
      .homePage .contentWrapper .layout_3col_center .section_header .header_text {
        align-self: flex-start;
        width: 100%;
        color: #999;
        font-size: 13px;
        line-height: 1.4; }
        .homePage .contentWrapper .layout_3col_center .section_header .header_text span {
          float: none;
          color: #333;
          font-weight: 500;
          font-size: 15px; }
    .homePage .contentWrapper .layout_3col_center .addQuestionPrompt {
      margin-top: 16px;
      margin-bottom: 0;
      color: #999;
      font-size: 13px;
      text-align: left; }
      .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .inner {
        margin-bottom: 4px; }
        .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .inner .nameWithPhoto .profile_photo_img {
          float: left;
          width: 18px;
          height: 18px;
          margin-right: 4px;
          border-radius: 50%; }
      .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton {
        color: #262626;
        display: block;
        padding-bottom: 16px;
        border-bottom: 1px solid #e2e2e2; }
        .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton .inner {
          color: #999;
          font-weight: bold;
          font-size: 18px;
          line-height: 1.3;
          font-family: 'q_serif',Georgia,Times,"Times New Roman",serif; }
          .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton .inner span:hover {
            color: #2b6dad;
            cursor: pointer; }
    .homePage .contentWrapper .layout_3col_center .feedBundle {
      padding-top: 16px;
      margin-bottom: 0;
      color: #999;
      font-size: 13px;
      text-align: left; }
      .homePage .contentWrapper .layout_3col_center .feedBundle:hover {
        background-color: #F6F8F9;
        cursor: pointer; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta {
        color: #999;
        font-size: 13px;
        text-align: left;
        margin-bottom: 4px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .bullet {
          color: #999;
          font-size: 13px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .hoverUnderline a:hover {
          text-decoration: underline; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .topic a:hover {
          text-decoration: underline; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .timestamp a:hover {
          text-decoration: underline; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .bundleTitle {
        font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
        font-weight: bold;
        line-height: 1.3;
        color: #262626;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        max-height: 2.6;
        /* fallback */ }
      .homePage .contentWrapper .layout_3col_center .feedBundle .contentHeader {
        margin-top: 10px;
        position: relative;
        min-height: 40px;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 1.4;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .contentHeader .imgWrapper {
          float: left;
          width: 48px; }
          .homePage .contentWrapper .layout_3col_center .feedBundle .contentHeader .imgWrapper .userImg {
            border-radius: 50%;
            height: 40px;
            width: 40px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .contentHeader .layoutTextWrapper {
          float: left;
          font-size: 15px;
          font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
          color: #333;
          line-height: 1.2em; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .contentMain {
        font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        max-height: 3.9;
        /* fallback */ }
      .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar {
        font-size: 13px;
        margin-bottom: -16px;
        padding: 8px 0 16px;
        bottom: 0;
        clear: left; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .upvoteButton {
          margin-right: 12px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
          border-radius: 3px;
          box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
          display: inline-block;
          font-weight: 500;
          outline: 0;
          padding: 3px 7px 4px 7px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          background: #f1f8fb;
          color: #2b6dad;
          border: 1px solid #bbcadc; }
          .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .upvoteButton:hover {
            border-color: #2b6dad; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .downvote {
          margin-right: 12px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .comments .commentsTotal {
          -webkit-font-smoothing: antialiased;
          border-radius: 2px;
          background: #eee;
          color: #999;
          font-weight: bold;
          min-width: 10px;
          padding: 2px 3px;
          margin-left: 4px;
          text-align: center;
          display: inline-block;
          float: none;
          font-size: 12px;
          padding: 1px 3px;
          margin: -3px 0 0 4px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare {
          float: right;
          padding-right: 10px;
          background-image: none;
          background-color: transparent; }
          .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span {
            margin-right: 5px;
            margin-top: -2px; }
            .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span i {
              font-size: 17px;
              line-height: 1.4;
              background-image: none;
              background-color: transparent; }
              .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span i:hover {
                color: #666666; }
  .homePage .contentWrapper .layout_3col_right {
    background-color: aqua;
    width: 220px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
    font-size: 13px;
    height: 200px; }
