/*
 * Base structure
 */
html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4; }

body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  height: 100%;
  word-wrap: break-word;
  color: #333;
  font-size: 13px;
  overflow-y: scroll;
  overflow-x: auto;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  background: transparent; }

img {
  border: 0; }

.top_five {
  margin-top: 5px; }

.underlineOnHover:hover {
  text-decoration: underline; }

.wikiwebLogo {
  display: flex;
  align-self: center;
  font-family: "Andale Mono";
  font-size: 21px;
  font-weight: 900;
  color: purple;
  width: 80px; }
  .wikiwebLogo span {
    color: purple; }

.loaderBox {
  margin-left: 45%;
  margin-top: 220px; }
  .loaderBox .loading {
    display: flex;
    align-self: center;
    font-family: "Andale Mono";
    font-size: 21px;
    font-weight: 900;
    color: purple;
    width: 80px; }
    .loaderBox .loading span {
      color: purple; }
  .loaderBox img {
    padding-left: 20px;
    width: 50px; }

.alerts {
  top: 70px;
  left: calc(50% - 300px);
  position: absolute;
  margin: auto;
  width: 600px; }

.alert-error {
  background: red; }

.alert-success {
  background: lightgreen; }

.alert-warning {
  background: yellow; }

.alert-info {
  background: aqua; }

.landingPage .headline {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center; }
  .landingPage .headline h1 {
    font-family: "Andale Mono";
    font-size: 48px;
    font-weight: 900;
    margin: 8px 0 32px;
    color: purple; }
  .landingPage .headline h2 {
    font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
    font-size: 19px;
    font-weight: 400;
    margin: 8px 0 32px;
    margin-top: -15px;
    color: #999; }

.landingPage .landingPageSignupForm {
  width: 650px;
  position: absolute;
  bottom: initial;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: hidden;
  top: 10%; }

.landingPage .container {
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 6px 0 rgba(200, 200, 200, 0.2);
  border-radius: 4px;
  margin-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .landingPage .container .content_inner {
    margin-bottom: 10px; }
    .landingPage .container .content_inner .signup_login {
      color: #333;
      word-wrap: break-word;
      font-weight: 400;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 13px;
      line-height: 1.4; }
      .landingPage .container .content_inner .signup_login .signup {
        height: 140px;
        /* for the border */
        padding-right: 32px;
        width: 50%;
        box-sizing: border-box;
        position: relative;
        float: left; }
        .landingPage .container .content_inner .signup_login .signup .connect_buttons_row .connect_with_email_icon {
          float: left;
          content: "";
          display: inline-block;
          font-size: 22px;
          line-height: 22px;
          color: white; }
        .landingPage .container .content_inner .signup_login .signup .connect_buttons_row .connect_with_email_text {
          color: white;
          float: left;
          background-color: purple;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
          border-radius: 3px;
          box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
          display: inline-block;
          font-weight: 500;
          outline: 0;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          margin-bottom: 16px;
          font-size: 17px;
          padding: 8px 16px;
          width: 260px; }
        .landingPage .container .content_inner .signup_login .signup .connect_buttons_row .connect_with_email_text:hover {
          opacity: 0.9; }
        .landingPage .container .content_inner .signup_login .signup .TosDisclaimer {
          color: #999;
          font-size: 13px; }
      .landingPage .container .content_inner .signup_login .signup:after {
        content: "";
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #e2e2e2;
        left: 100%; }
      .landingPage .container .content_inner .signup_login .login {
        padding-left: 32px;
        width: 50%;
        box-sizing: border-box;
        float: left; }
        .landingPage .container .content_inner .signup_login .login .regular_login {
          display: block; }
          .landingPage .container .content_inner .signup_login .login .regular_login form {
            display: block;
            margin-top: 0em; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .title {
              margin-bottom: 8px;
              font-weight: bold; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column input {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              outline: 0;
              border: 1px solid #e2e2e2;
              border-radius: 3px;
              box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
              -webkit-transition: border-color .2s;
              transition: border-color .2s;
              -webkit-transition: border-color .2s 180ms ease-in-out 0s;
              -o-transition: border-color .2s 180ms ease-in-out 0s;
              transition: border-color .2s 180ms ease-in-out 0s;
              background-color: #EEE;
              width: 100%;
              font-size: 15px;
              line-height: 1.4;
              min-height: 32px;
              margin-bottom: 8px;
              padding: 3px 5px;
              height: 15px;
              padding-left: 8px;
              padding-right: 8px; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column input:focus {
              border-color: #333; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column .login_options a {
              text-decoration: none;
              color: #999;
              font-weight: 400;
              font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
              font-size: 13px;
              line-height: 1.4;
              word-wrap: break-word; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column .login_options a:hover {
              text-decoration: underline; }
            .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column .submit_button_box {
              width: 60px;
              float: right; }
              .landingPage .container .content_inner .signup_login .login .regular_login form .form_inputs .form_column .submit_button_box .submit_button {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
                border-radius: 3px;
                box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
                display: inline-block;
                font-weight: 500;
                outline: 0;
                padding: 3px 7px 4px 7px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                background: #3e78ad;
                color: #fff;
                border: 1px solid #3a66ad;
                box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6);
                font-size: 15px;
                line-height: 1.4;
                opacity: 0.5; }
  .landingPage .container .footerNav {
    display: block;
    padding: 16px;
    border-top: 1px solid #e2e2e2;
    background: #f7f7f7;
    word-wrap: break-word;
    color: #333;
    font-size: 13px;
    text-align: center; }
    .landingPage .container .footerNav .navList {
      display: inline-block;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .landingPage .container .footerNav .navList li {
        float: left;
        margin-right: 16px; }
      .landingPage .container .footerNav .navList a {
        color: rgba(175, 175, 175, 0.95);
        text-decoration: none; }

.landingPage .content_inner {
  padding: 32px;
  height: 130px; }

.loginPage .container {
  padding-top: 10px;
  padding-bottom: 10px; }
  .loginPage .container form {
    border: 1px solid purple; }
  .loginPage .container img {
    height: 50px; }

.appNav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 800;
  font-size: 14px;
  color: #fff;
  border-top: 2px solid purple;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.2);
  display: flex;
  flex-direction: row;
  /* end appNavInner */ }
  .appNav .appNavInner {
    display: flex;
    width: 1002px;
    margin: auto;
    color: black;
    height: 50px;
    display: flex; }
    .appNav .appNavInner .searchBox {
      align-self: center;
      padding-left: 40px;
      width: 500px;
      display: flex; }
      .appNav .appNavInner .searchBox textarea {
        resize: none;
        width: 385px;
        background: #fff;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
        -webkit-transition: border-color .2s;
        transition: border-color .2s;
        -webkit-transition: border-color .2s 180ms ease-in-out 0s;
        -o-transition: border-color .2s 180ms ease-in-out 0s;
        transition: border-color .2s 180ms ease-in-out 0s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 15px;
        line-height: 1.4;
        -webkit-font-smoothing: antialiased;
        padding: 3px 8px;
        max-height: 29px;
        min-height: auto;
        background-color: #f4f4f4;
        overflow-y: hidden;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        -webkit-transition: border-color,height,background-color .2s;
        -o-transition: border-color,height,background-color .2s;
        transition: border-color,height,background-color .2s;
        overflow-x: hidden;
        word-wrap: break-word;
        height: 29px;
        max-height: none;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 2px 0px 0px 2px;
        border-right: 0;
        display: flex-start;
        background-color: #F4F4F4; }
        .appNav .appNavInner .searchBox textarea:focus {
          background-color: white; }
      .appNav .appNavInner .searchBox .submitButton {
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
        font-weight: 500;
        outline: 0;
        padding: 3px 7px 4px 7px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background: #fff;
        color: #585a61;
        border: 1px solid #ced1e1;
        font-size: 13px;
        line-height: normal;
        padding: 5px 8px 6px 10px;
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex-end;
        width: 80px; }
        .appNav .appNavInner .searchBox .submitButton:hover {
          border-color: #333; }
    .appNav .appNavInner .pageButtons {
      margin-left: 8px;
      display: flex;
      color: #999;
      font-size: 14px;
      font-weight: 500;
      line-height: 50px; }
      .appNav .appNavInner .pageButtons .pageButton {
        display: flex;
        align-items: center; }
        .appNav .appNavInner .pageButtons .pageButton .currentPage {
          color: purple; }
          .appNav .appNavInner .pageButtons .pageButton .currentPage:hover {
            background-color: white; }
        .appNav .appNavInner .pageButtons .pageButton:hover {
          background-color: #F4F4F4;
          cursor: pointer; }
        .appNav .appNavInner .pageButtons .pageButton .buttonContents {
          display: flex;
          flex-direction: row; }
          .appNav .appNavInner .pageButtons .pageButton .buttonContents .icon {
            min-width: 17px;
            font-size: 17px;
            padding-left: 14px; }
          .appNav .appNavInner .pageButtons .pageButton .buttonContents .text {
            padding-left: 5px;
            padding-right: 14px; }
          .appNav .appNavInner .pageButtons .pageButton .buttonContents .userImg {
            height: 22px;
            width: 22px;
            border-radius: 50%;
            padding-right: 8px;
            padding-left: 7px;
            margin-top: 6px; }

/* end appNav */
.homePage .modalMask, .searchPage .modalMask, .resultPage .modalMask {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.75;
  z-index: 2; }

.homePage .requestModal, .searchPage .requestModal, .resultPage .requestModal {
  display: none;
  margin: auto;
  margin-top: 100px;
  margin-left: 30%;
  width: 620px;
  background-color: white;
  z-index: 10;
  position: fixed;
  border-radius: 4px; }
  .homePage .requestModal .modalContent, .searchPage .requestModal .modalContent, .resultPage .requestModal .modalContent {
    padding: 32px 32px 24px 32px; }
    .homePage .requestModal .modalContent .closeButton, .searchPage .requestModal .modalContent .closeButton, .resultPage .requestModal .modalContent .closeButton {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 15px;
      padding-top: 8px;
      font-size: 20px;
      color: #999; }
      .homePage .requestModal .modalContent .closeButton i:hover, .searchPage .requestModal .modalContent .closeButton i:hover, .resultPage .requestModal .modalContent .closeButton i:hover {
        color: #2b6dad;
        cursor: pointer; }
    .homePage .requestModal .modalContent .contentBox .userImg, .searchPage .requestModal .modalContent .contentBox .userImg, .resultPage .requestModal .modalContent .contentBox .userImg {
      float: left; }
      .homePage .requestModal .modalContent .contentBox .userImg img, .searchPage .requestModal .modalContent .contentBox .userImg img, .resultPage .requestModal .modalContent .contentBox .userImg img {
        height: 25px;
        width: 25px;
        border-radius: 50%; }
    .homePage .requestModal .modalContent .contentBox div, .searchPage .requestModal .modalContent .contentBox div, .resultPage .requestModal .modalContent .contentBox div {
      margin-left: 30px; }
      .homePage .requestModal .modalContent .contentBox div .username, .homePage .requestModal .modalContent .contentBox div .text, .searchPage .requestModal .modalContent .contentBox div .username, .searchPage .requestModal .modalContent .contentBox div .text, .resultPage .requestModal .modalContent .contentBox div .username, .resultPage .requestModal .modalContent .contentBox div .text {
        color: #999;
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
    .homePage .requestModal .modalContent .questionBox, .searchPage .requestModal .modalContent .questionBox, .resultPage .requestModal .modalContent .questionBox {
      clear: both;
      width: 100%; }
      .homePage .requestModal .modalContent .questionBox textarea, .searchPage .requestModal .modalContent .questionBox textarea, .resultPage .requestModal .modalContent .questionBox textarea {
        resize: none;
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        font-weight: bold;
        line-height: 1.3;
        color: #262626;
        font-size: 18px;
        padding: 0;
        margin-top: 8px;
        border: 0;
        box-shadow: none;
        padding-bottom: 8px; }
        .homePage .requestModal .modalContent .questionBox textarea:focus, .searchPage .requestModal .modalContent .questionBox textarea:focus, .resultPage .requestModal .modalContent .questionBox textarea:focus {
          outline: none; }
  .homePage .requestModal .modalFooter, .searchPage .requestModal .modalFooter, .resultPage .requestModal .modalFooter {
    background: #f6f6f6;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    border-top: 1px solid #e2e2e2;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.4;
    display: flex;
    justify-content: flex-end; }
    .homePage .requestModal .modalFooter div, .searchPage .requestModal .modalFooter div, .resultPage .requestModal .modalFooter div {
      display: flex;
      justify-content: flex-end; }
    .homePage .requestModal .modalFooter .cancel, .searchPage .requestModal .modalFooter .cancel, .resultPage .requestModal .modalFooter .cancel {
      margin-top: 4px;
      font-size: 15px;
      line-height: 1.4;
      color: #999;
      cursor: pointer;
      margin-right: 16px; }
    .homePage .requestModal .modalFooter .askButton, .searchPage .requestModal .modalFooter .askButton, .resultPage .requestModal .modalFooter .askButton {
      font-size: 15px;
      padding: 6px 8px;
      user-select: none;
      box-sizing: border-box;
      transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
      border-radius: 3px;
      font-weight: 500;
      outline: 0;
      padding: 3px 7px 4px 7px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      background: #3e78ad;
      color: #fff;
      border: 1px solid #3a66ad;
      box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6); }
      .homePage .requestModal .modalFooter .askButton:hover, .searchPage .requestModal .modalFooter .askButton:hover, .resultPage .requestModal .modalFooter .askButton:hover {
        border: 1px solid #333; }

.homePage .displayRequestModal, .searchPage .displayRequestModal, .resultPage .displayRequestModal {
  display: block; }

.homePage .contentWrapper, .searchPage .contentWrapper, .resultPage .contentWrapper {
  width: 1002px;
  margin: 53px auto 0;
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  /* end layout_3col_left */
  /* end layout_3col_center */
  /* end layout_3col_right */ }
  .homePage .contentWrapper .layout_3col_left, .searchPage .contentWrapper .layout_3col_left, .resultPage .contentWrapper .layout_3col_left {
    width: 142px;
    float: left;
    min-height: 1px;
    clear: left;
    font-size: 13px;
    position: fixed; }
    .homePage .contentWrapper .layout_3col_left .title, .searchPage .contentWrapper .layout_3col_left .title, .resultPage .contentWrapper .layout_3col_left .title {
      color: #333;
      font-weight: 500;
      position: relative;
      border-bottom: 1px solid #e2e2e2;
      margin: 0;
      padding: 0;
      padding-bottom: 8px;
      font-size: 15px;
      letter-spacing: 0;
      text-transform: none;
      margin-bottom: 8px;
      position: relative; }
      .homePage .contentWrapper .layout_3col_left .title .title_with_link, .searchPage .contentWrapper .layout_3col_left .title .title_with_link, .resultPage .contentWrapper .layout_3col_left .title .title_with_link {
        color: #333;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0;
        text-transform: none;
        line-height: 1.4; }
    .homePage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li, .searchPage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li, .resultPage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li {
      padding: 4px 5px;
      margin: 0 0 0 -5px;
      width: 100%; }
      .homePage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li a, .searchPage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li a, .resultPage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li a {
        margin-bottom: 2px;
        margin-top: 2px;
        display: inline-block;
        color: #666; }
      .homePage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li a:hover, .searchPage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li a:hover, .resultPage .contentWrapper .layout_3col_left .pagedList .pagedListItem ul li a:hover {
        color: #2b6dad; }
    .homePage .contentWrapper .layout_3col_left .nav_item_selected > ul > li, .searchPage .contentWrapper .layout_3col_left .nav_item_selected > ul > li, .resultPage .contentWrapper .layout_3col_left .nav_item_selected > ul > li {
      background-color: #ececec;
      border-radius: 3px;
      cursor: default;
      font-weight: 400;
      color: #666; }
  .homePage .contentWrapper .layout_3col_center, .searchPage .contentWrapper .layout_3col_center, .resultPage .contentWrapper .layout_3col_center {
    line-height: 1.4;
    width: 572px;
    float: left;
    min-height: 1px;
    margin-left: 180px; }
    .homePage .contentWrapper .layout_3col_center .section_header, .searchPage .contentWrapper .layout_3col_center .section_header, .resultPage .contentWrapper .layout_3col_center .section_header {
      display: flex;
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 8px; }
      .homePage .contentWrapper .layout_3col_center .section_header .header_text, .searchPage .contentWrapper .layout_3col_center .section_header .header_text, .resultPage .contentWrapper .layout_3col_center .section_header .header_text {
        align-self: flex-start;
        width: 100%;
        color: #999;
        font-size: 13px;
        line-height: 1.4; }
        .homePage .contentWrapper .layout_3col_center .section_header .header_text span, .searchPage .contentWrapper .layout_3col_center .section_header .header_text span, .resultPage .contentWrapper .layout_3col_center .section_header .header_text span {
          float: none;
          color: #333;
          font-weight: 500;
          font-size: 15px; }
    .homePage .contentWrapper .layout_3col_center .addQuestionPrompt, .searchPage .contentWrapper .layout_3col_center .addQuestionPrompt, .resultPage .contentWrapper .layout_3col_center .addQuestionPrompt {
      margin-top: 16px;
      margin-bottom: 0;
      color: #999;
      font-size: 13px;
      text-align: left; }
      .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .inner, .searchPage .contentWrapper .layout_3col_center .addQuestionPrompt .inner, .resultPage .contentWrapper .layout_3col_center .addQuestionPrompt .inner {
        margin-bottom: 4px; }
        .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .inner .nameWithPhoto .profile_photo_img, .searchPage .contentWrapper .layout_3col_center .addQuestionPrompt .inner .nameWithPhoto .profile_photo_img, .resultPage .contentWrapper .layout_3col_center .addQuestionPrompt .inner .nameWithPhoto .profile_photo_img {
          float: left;
          width: 18px;
          height: 18px;
          margin-right: 4px;
          border-radius: 50%; }
      .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton, .searchPage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton, .resultPage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton {
        color: #262626;
        display: block;
        padding-bottom: 16px;
        border-bottom: 1px solid #e2e2e2; }
        .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton .inner, .searchPage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton .inner, .resultPage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton .inner {
          color: #999;
          font-weight: bold;
          font-size: 18px;
          line-height: 1.3;
          font-family: 'q_serif',Georgia,Times,"Times New Roman",serif; }
          .homePage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton .inner:hover, .searchPage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton .inner:hover, .resultPage .contentWrapper .layout_3col_center .addQuestionPrompt .askQuestionButton .inner:hover {
            color: #2b6dad;
            cursor: pointer; }
    .homePage .contentWrapper .layout_3col_center .feedBundle, .searchPage .contentWrapper .layout_3col_center .feedBundle, .resultPage .contentWrapper .layout_3col_center .feedBundle {
      padding-top: 16px;
      color: #999;
      font-size: 13px;
      text-align: left;
      margin-left: -12px;
      padding-left: 12px;
      margin-right: -12px;
      padding-right: 12px;
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 16px; }
      .homePage .contentWrapper .layout_3col_center .feedBundle:hover, .searchPage .contentWrapper .layout_3col_center .feedBundle:hover, .resultPage .contentWrapper .layout_3col_center .feedBundle:hover {
        background-color: #F6F8F9;
        cursor: pointer; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta, .searchPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta, .resultPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta {
        color: #999;
        font-size: 13px;
        text-align: left;
        margin-bottom: 4px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .bullet, .searchPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .bullet, .resultPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .bullet {
          color: #999;
          font-size: 13px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .hoverUnderline a:hover, .searchPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .hoverUnderline a:hover, .resultPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .hoverUnderline a:hover {
          text-decoration: underline; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .topic a:hover, .searchPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .topic a:hover, .resultPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .topic a:hover {
          text-decoration: underline; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .timestamp a:hover, .searchPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .timestamp a:hover, .resultPage .contentWrapper .layout_3col_center .feedBundle .feedBundleMeta .timestamp a:hover {
          text-decoration: underline; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .bundleTitle, .searchPage .contentWrapper .layout_3col_center .feedBundle .bundleTitle, .resultPage .contentWrapper .layout_3col_center .feedBundle .bundleTitle {
        font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
        font-weight: bold;
        line-height: 1.3;
        color: #262626;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        max-height: 2.6;
        /* fallback */ }
      .homePage .contentWrapper .layout_3col_center .feedBundle .bundleURL, .searchPage .contentWrapper .layout_3col_center .feedBundle .bundleURL, .resultPage .contentWrapper .layout_3col_center .feedBundle .bundleURL {
        font-size: 13px;
        text-align: left;
        margin-bottom: 4px;
        margin-top: 4px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .bundleURL span:hover, .searchPage .contentWrapper .layout_3col_center .feedBundle .bundleURL span:hover, .resultPage .contentWrapper .layout_3col_center .feedBundle .bundleURL span:hover {
          color: #2b6dad;
          cursor: pointer; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .contentHeader, .searchPage .contentWrapper .layout_3col_center .feedBundle .contentHeader, .resultPage .contentWrapper .layout_3col_center .feedBundle .contentHeader {
        margin-top: 10px;
        position: relative;
        min-height: 40px;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 1.4;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .contentHeader .imgWrapper, .searchPage .contentWrapper .layout_3col_center .feedBundle .contentHeader .imgWrapper, .resultPage .contentWrapper .layout_3col_center .feedBundle .contentHeader .imgWrapper {
          float: left;
          width: 48px; }
          .homePage .contentWrapper .layout_3col_center .feedBundle .contentHeader .imgWrapper .userImg, .searchPage .contentWrapper .layout_3col_center .feedBundle .contentHeader .imgWrapper .userImg, .resultPage .contentWrapper .layout_3col_center .feedBundle .contentHeader .imgWrapper .userImg {
            border-radius: 50%;
            height: 40px;
            width: 40px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .contentHeader .layoutTextWrapper, .searchPage .contentWrapper .layout_3col_center .feedBundle .contentHeader .layoutTextWrapper, .resultPage .contentWrapper .layout_3col_center .feedBundle .contentHeader .layoutTextWrapper {
          float: left;
          font-size: 15px;
          font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
          color: #333;
          line-height: 1.2em; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .contentMain, .searchPage .contentWrapper .layout_3col_center .feedBundle .contentMain, .resultPage .contentWrapper .layout_3col_center .feedBundle .contentMain {
        font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        max-height: 2.6;
        /* fallback */ }
      .homePage .contentWrapper .layout_3col_center .feedBundle .divider, .searchPage .contentWrapper .layout_3col_center .feedBundle .divider, .resultPage .contentWrapper .layout_3col_center .feedBundle .divider {
        justify-content: space-around;
        content: "";
        border-top: 1px solid #e2e2e2;
        margin: 10px;
        margin-left: 15%;
        margin-right: 15%; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .centerAlign, .searchPage .contentWrapper .layout_3col_center .feedBundle .centerAlign, .resultPage .contentWrapper .layout_3col_center .feedBundle .centerAlign {
        margin-left: 20%;
        margin-right: 15%; }
      .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar, .searchPage .contentWrapper .layout_3col_center .feedBundle .actionBar, .resultPage .contentWrapper .layout_3col_center .feedBundle .actionBar {
        font-size: 13px;
        margin-bottom: -16px;
        padding: 8px 0 16px;
        bottom: 0;
        clear: left; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .connectButton, .searchPage .contentWrapper .layout_3col_center .feedBundle .actionBar .connectButton, .resultPage .contentWrapper .layout_3col_center .feedBundle .actionBar .connectButton {
          margin-right: 12px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
          border-radius: 3px;
          box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
          display: inline-block;
          font-weight: 500;
          outline: 0;
          padding: 3px 7px 4px 7px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          background: #f1f8fb;
          color: #2b6dad;
          border: 1px solid #bbcadc; }
          .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .connectButton:hover, .searchPage .contentWrapper .layout_3col_center .feedBundle .actionBar .connectButton:hover, .resultPage .contentWrapper .layout_3col_center .feedBundle .actionBar .connectButton:hover {
            border-color: #2b6dad; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .connections .connectionsTotal, .searchPage .contentWrapper .layout_3col_center .feedBundle .actionBar .connections .connectionsTotal, .resultPage .contentWrapper .layout_3col_center .feedBundle .actionBar .connections .connectionsTotal {
          -webkit-font-smoothing: antialiased;
          border-radius: 2px;
          background: #eee;
          color: #999;
          font-weight: bold;
          min-width: 10px;
          padding: 2px 3px;
          margin-left: 4px;
          text-align: center;
          display: inline-block;
          float: none;
          font-size: 12px;
          padding: 1px 3px;
          margin: -3px 0 0 4px; }
        .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare, .searchPage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare, .resultPage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare {
          float: right;
          padding-right: 10px;
          background-image: none;
          background-color: transparent; }
          .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span, .searchPage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span, .resultPage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span {
            margin-right: 5px;
            margin-top: -2px; }
            .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span i, .searchPage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span i, .resultPage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span i {
              font-size: 17px;
              line-height: 1.4;
              background-image: none;
              background-color: transparent; }
              .homePage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span i:hover, .searchPage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span i:hover, .resultPage .contentWrapper .layout_3col_center .feedBundle .actionBar .socialShare span i:hover {
                color: #666666; }
  .homePage .contentWrapper .layout_3col_right, .searchPage .contentWrapper .layout_3col_right, .resultPage .contentWrapper .layout_3col_right {
    width: 220px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
    font-size: 13px;
    height: 200px; }
    .homePage .contentWrapper .layout_3col_right .identityModule, .searchPage .contentWrapper .layout_3col_right .identityModule, .resultPage .contentWrapper .layout_3col_right .identityModule {
      text-align: center;
      border: 1px solid #e2e2e2; }
      .homePage .contentWrapper .layout_3col_right .identityModule .top_rail, .searchPage .contentWrapper .layout_3col_right .identityModule .top_rail, .resultPage .contentWrapper .layout_3col_right .identityModule .top_rail {
        border: 1px solid #e2e2e2;
        border-bottom: none;
        margin: -1px;
        margin-bottom: 0;
        background-color: purple;
        height: 80px; }
      .homePage .contentWrapper .layout_3col_right .identityModule .actor, .searchPage .contentWrapper .layout_3col_right .identityModule .actor, .resultPage .contentWrapper .layout_3col_right .identityModule .actor {
        margin: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0;
        box-sizing: inherit;
        height: 107px;
        border-bottom: 1px solid #e2e2e2; }
        .homePage .contentWrapper .layout_3col_right .identityModule .actor .profile_img_box, .searchPage .contentWrapper .layout_3col_right .identityModule .actor .profile_img_box, .resultPage .contentWrapper .layout_3col_right .identityModule .actor .profile_img_box {
          content: "";
          margin: auto;
          width: 68px; }
          .homePage .contentWrapper .layout_3col_right .identityModule .actor .profile_img_box .profile_img, .searchPage .contentWrapper .layout_3col_right .identityModule .actor .profile_img_box .profile_img, .resultPage .contentWrapper .layout_3col_right .identityModule .actor .profile_img_box .profile_img {
            background: white;
            height: 68px;
            width: 68px;
            border-radius: 50%;
            border: 2px solid #fff;
            box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15), 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
            margin: -38px auto 12px; }
        .homePage .contentWrapper .layout_3col_right .identityModule .actor .actor_info, .searchPage .contentWrapper .layout_3col_right .identityModule .actor .actor_info, .resultPage .contentWrapper .layout_3col_right .identityModule .actor .actor_info {
          font-family: 'q_serif',Georgia,Times,"Times New Roman",serif; }
          .homePage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .fullname, .searchPage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .fullname, .resultPage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .fullname {
            font-size: 16px;
            color: #333; }
            .homePage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .fullname a:hover, .searchPage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .fullname a:hover, .resultPage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .fullname a:hover {
              cursor: pointer; }
          .homePage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .title, .searchPage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .title, .resultPage .contentWrapper .layout_3col_right .identityModule .actor .actor_info .title {
            margin-top: 2px;
            color: #999;
            font-size: 13px; }
      .homePage .contentWrapper .layout_3col_right .identityModule .stats, .searchPage .contentWrapper .layout_3col_right .identityModule .stats, .resultPage .contentWrapper .layout_3col_right .identityModule .stats {
        padding: 12px; }
        .homePage .contentWrapper .layout_3col_right .identityModule .stats .number, .searchPage .contentWrapper .layout_3col_right .identityModule .stats .number, .resultPage .contentWrapper .layout_3col_right .identityModule .stats .number {
          color: purple;
          font-size: 17px; }
        .homePage .contentWrapper .layout_3col_right .identityModule .stats .text, .searchPage .contentWrapper .layout_3col_right .identityModule .stats .text, .resultPage .contentWrapper .layout_3col_right .identityModule .stats .text {
          color: #999;
          font-size: 13px; }
        .homePage .contentWrapper .layout_3col_right .identityModule .stats .divider, .searchPage .contentWrapper .layout_3col_right .identityModule .stats .divider, .resultPage .contentWrapper .layout_3col_right .identityModule .stats .divider {
          content: "";
          border-top: 1px solid #e2e2e2;
          margin: 10px; }

.searchPage .noResultFound {
  padding-top: 8px; }
  .searchPage .noResultFound .titleURL {
    font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
    font-weight: bold;
    line-height: 1.3;
    color: #262626;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    max-height: 2.6;
    /* fallback */ }
  .searchPage .noResultFound .explanatoryText {
    margin-top: 8px;
    color: #999;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
  .searchPage .noResultFound .actionBar {
    font-size: 13px;
    margin-bottom: -16px;
    padding: 8px 0 16px;
    bottom: 0;
    clear: left; }
    .searchPage .noResultFound .actionBar .connectButton {
      margin-right: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
      border-radius: 3px;
      box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
      display: inline-block;
      font-weight: 500;
      outline: 0;
      padding: 3px 7px 4px 7px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      background: #f1f8fb;
      color: #2b6dad;
      border: 1px solid #bbcadc; }
      .searchPage .noResultFound .actionBar .connectButton:hover {
        border-color: #2b6dad; }
