{% extends 'layouts/static.html' %}

{% block content %}
  <div style="margin-left:50px; margin-right: 50px; margin-top: 35px; max-width: 600px;" >
    <div style="width: 420px; background-color: white; padding: 20px; padding-left: 50px; padding-right: 50px;" >
	    <div style="width: 320px; font-weight: 700; font-family: 'Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Arial,sans-serif!important;'"> 
		    <h2 >This is not the 404 that you were looking for.</h2>
		    <img style="height: 300px;" src="/img/alice-door.png" />
	    	<br />
	    	<br />
	    	<br />
			<a href="/"><p style="font-weight: 500">Go back to the WikiWeb</p></a>
		</div>
	</div>
  </div>

{% endblock %}
