{% extends 'layouts/static.html' %}

{% block content %}
  <div style="margin-left:50px; margin-right: 50px; margin-top: 50px;" >
    <h2>About</h2>
    <br />
    <p>WikiWeb is an Internet thesaurus that shows connections between similar content online. When you search on WikiWeb, by pasting in a URL, you're essentially asking <i>what is like this?</i>
    </p>

    <p>Connections are crowdsourced by the WikiWeb community, which means behind each connection there is an explicit suggestion from a WikiWeb contributor that <i>this</i> is like <i>that</i>.</p>

    <p>(This article is like that article, this podcast is like that essay, this video is like that book, etc.)
    </p>

    <p>As the number of connections on the WikiWeb increases, so does the utility of WikiWeb as a discovery tool, so we hope you will join us in curating a connected web. </p>
    <br />
    <p>Sincerly yours,<br />
    Eoin &#38; Jeff</p>

    <br />
    <hr />
    <p>><a href="/connect"> Connect something</a></p>
    <p>><a href="https://wikiweb.co/node/5755e719fef28d0f00c96278"> What is like WikiWeb.co?</a></p>
  </div>

{% endblock %}
<p>WikiWeb is a map of the Internet - a crowdsourced collection of connections between URLs that exists to better answer the question <i>"what is like this?"</i>, online. The way it works is that contributors make connections between URL pairs which others can discover later. These URL pairs are called <i>edges</i>, and act as a pathway between similar ideas.</p>
    <p>Our goal is to create a new way for people to discover information online, while at the same time creating an outlet for the synaptic burst that happens when the human brain does what it does best: make connections between things!</p>
    <p>As the number of edges grows so does WikiWeb's usefulness, so we hope you will join us in connecting the Internet and making it better, together.</p>