{% extends 'layouts/static.html' %}

{% block content %}
  <div style="margin-left:50px; margin-right: 50px; margin-top: 35px; max-width: 600px;" >
    <h2>About</h2>
    <br />
    <div style="text-align: center">
        <img style="max-width: 200px; width: 60%" src="./img/network.png">
    </div>
    <br />
    <br />
    
    <strong><p>Surfing the web is broken.</p></strong>
    </b>
    <br />

    <p>Our solution is to create a Map of the Internet, which we call the WikiWeb. The WikiWeb is a crowdsourced collection of links from any one site to another. Any time you on an page and you're thinking <em>"I know a site that is similar to this one - maybe other people would be interested in it too?"</em>, you should help your fellow web surfers by adding that connection to the WikiWeb.</p>
    <br />

    <p>The WikiWeb is an open graph of information and all content is public-by-default. It's a big web out there and we're just getting started. We look forward to building it with you, and hearing your <a href="mailto:hello@wikiweb.org?Subject=Hey WikiWeb!" target="_top">feedback</a> and ideas along the way.</p>

    <br />
    <p>Sincerely,</p>
    <p>Eoin & Jeff</p>

    <br />
    <div style="width: 100%; border: 1px solid rgba(0,0,0, 0.1); min-height: 1px"></div>


    <br />
    <p style="color: rgba(0,0,0, 0.6)">Wi·kiWeb
    <br/>
    /ˈwikē web/
    <br/>
    noun</p>
    <p style="color: rgba(0,0,0, 0.6)"><em>A collaborative navigation layer for the World Wide Web that allows documents to be connected to other documents by hypertext links, enabling discovery of information as a user moves from one document to another.</em></p>
    

    <br />
    <br />

  </div>

{% endblock %}
