{% extends 'layouts/static.html' %}

{% block content %}
  <div style="margin-left:50px; margin-right: 50px; margin-top: 35px; max-width: 600px;" >
    <h2>FAQ</h2>
    
    <br />
    <p>
    	<b>Why is it called the WikiWeb?</b>
    </p>
    <p>Great question!</p>
    <p>A "wiki" is a website that allows collaborative editing of its content and structure by its users. Our goal is to apply this concept to the structure of the web itself. Hence: "WikiWeb".</p>

    <br />
    <p>
    	<b>How do I contribute to the WikiWeb?</b>
    </p>
    
    <p>The best way to contribute to the WikiWeb is by suggesting "what to read next". You can do this by clicking the connect button, <span><img style="width: 18px; margin-top: -3px" src="./img/small-white-add-connection-box.png" /></span> ,  then pasting the URL of the page people should go to next after reading the current page.</p>

    <p>For example, my friend Harry's <a href="http://harrycancook.blogspot.com/2013/12/summer-has-arrived.html" target="_blank">prosciutto and rock melon dish</a> is simple, easy and delicious. Every time he serves it I am reminded of an equally simple sweet-and-savory recipe for a <a href="http://www.skinnytaste.com/prosciutto-mozzarella-and-fig-salad-with-arugula/" target="_blank">fig, prosciutto and arugula salad</a>. I figure other people would appreciate seeing a suggestion for the fig salad recipe if they're already on Harry's blog, so I connect the two pages on the WikiWeb, making it easier for others to discover in the future.</p>
    
	<img style="margin-bottom: 30px; border: 1px solid rgba(0,0,0,0.2)" src="./img/add-connection-example.png" />

	<br />
    <p>
    	<b>What's with the hearts?</b>
    </p>
    <p>Hearting a page is an endorsement for the content on that page. It's an easy way to engage with the WikiWeb, and it helps us recommend content to others. So share the love!</p>

    <br />
    <p>
    	<b>Why can I only sign into the WikiWeb using Twitter?</b>
    </p>
    <p>Resource constraints. We're a small team, and Twitter provies us with a robust, secure login system that sits on top of an open graph of information, followers and interests.</p>

    <br />
    <p>
    	<b>Is everything I publish on the WikiWeb public?</b>
    </p>
    <p>Yes. The WikiWeb is intended as an open graph of connections that others can traverse. We have no plans for private user accounts. If you need assistance deactivating your account or removing information from the WikiWeb, please contact us at hello@wikiweb.org.</p>

    <br />
    <p>
        <b>Are you tracking my browser history?</b>
    </p>
    <p>No.</p> 
    <p>Example of things we track: user events whenever there is engagement with the product, such as adding connections, toggling between connections, logging in, or recommending content.</p>
    <p>We do not track what pages people visit, or the pages they outbound click to.</p>

    <br />
    <p>
        <b>So how do I use the extension?</b>
    </p>

    <img style="margin-bottom: 30px; width: 800px; border: 1px solid rgba(0,0,0,0.2)" src="./img/wikiweb_how_to_use.png" />

    <br />
    <p>
    	<b>Have more questions or feedback?</b>
    </p>
    <p>Shoot us an email: <a href="mailto:hello@wikiweb.org?Subject=Hey WikiWeb!" target="_top">hello@wikiweb.org</a></p>



  </div>

{% endblock %}