{% extends 'layouts/static.html' %}

{% block content %}
  <div style="height: 100%; width: 100%; background-color: white; margin-top: -20px">
    
    <div style="padding-left:50px; padding-right: 50px; padding-top: 50px; max-width: 600px;" >
    	

    	<div>
				-----------------------<br/>
				|	Outline Explainer		|<br/>
				-----------------------<br/>
  			<p style="color: #333; margin-bottom: 1em; font-weight: 400; font-size: 1.1em; font-family: Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif; margin-bottom: 17px;">
  				<strong>Getting Started</strong>
  			</p>
  			<p style="color: #585858; font-size: 14px; font-weight: 300; line-height: line-height: 18px; margin-bottom: 2.5em; font-weight: 400; font-family: Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;">
  				<em>Now you have the extension up and running. It's time to start making connections on the WikiWeb.</em>
  			</p>
  			<div style="display: flex">
  				<div style="color: #585858; display: flex; width: 50%;">
  					<div style="display: flex; margin-right: 25px; ">
  						<span style="height: 30px; width: 30px; border: 2px solid purple; border-radius: 50%;"></span>
  						<span style="margin-left: -19px; margin-top: 5px;">1</span>
  					</div>
						<div style="padding-right: 20px;">
							Create an account by logging in using the extension.
						</div>
  				</div>
  				<div style="color: #585858; display: flex; width: 50%; padding-left: 10px;">
  					<div style="display: flex; margin-right: 25px; ">
  						<span style="height: 30px; width: 30px; border: 2px solid purple; border-radius: 50%;"></span>
  						<span style="margin-left: -19px; margin-top: 5px;">2<span>
  					</div>
						<div>
							Get Connecting! Enable the extension bar via the 
							<span>
								<img src="/img/sub-icon-16-not-connected.png" style="height: 16px; width: 16px; margin-top: -2px"/>
							</span> button in the location bar.
						</div>
  				</div>
  			</div>

  		</div>

			----------
			<br/><br/>
			*Connection Types*
			_There are a few types of connections that exist within the WikiWeb:_

			[[+] icon] *User Connections*
			Create a connection by clicking the [+] button and pasting a link.

			[</> icon] *Page Links*
			These are existing links embeded into the page you are on.

			[backlink icon] *Backlinks*
			These are existing links from other sites to the page you are on.

			[Gears Icon] *WikiWeb Suggestions*
			Suggestions brought to you by WikiWeb's servers [warning: experimental].

			-----------
			<br/><br/>
			*Privacy*
			_All connections in the WikiWeb are public. We do not yet offer private connections.

			[Public Icon]
			These connections are visible to everyone on the page itself and in our [a]public firehose[/a].

			-----------
			[^^ Icon] *Show/Hide All Connections*
			Use the [^^] Icon to toggle visibility of all connections to the page. Use [<^] to hide them.

			[Turn On/Off] Turn on the WikiWeb extension by clicking on our [W] logo your browser's navigations menu.
			<br/><br/>
			------------
			Resources
			* Request features, report bugs and chat with our dev team via email.
			* If you need help, please don't hesitate to get in touch.
			* Visit our website to learn more about the WikiWeb.
		  </div>
	</div>

{% endblock %}
