/*
 * Base structure
 */

body {
	/* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;
}

i {
	color: white;
}

.top_five {
	margin-top: 5px;
}

.landingPage {
	.headline {
		text-align: center;
		h1 {
			font-family: "Andale Mono";
			font-size: 48px;
	    font-weight: 900;
	    margin: 8px 0 32px;
	    color: purple;
		}
		h2 {
			font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
			font-size: 19px;
	    font-weight: 400;
	    margin: 8px 0 32px;
			margin-top: -15px;
	    color: #999;
		}
	}
	.landingPageSignupForm {
    width: 650px;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden;
    top: 10%;
	}
  .container {
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 6px 0 rgba(200,200,200,0.2);
    border-radius: 4px;
    margin-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    .content_inner {
    	.signup_login {
    		color: #333;
    		word-wrap: break-word;
    		font-weight: 400;
		    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 13px;
		    line-height: 1.4;
    		.signup {
    			padding-right: 32px;
    			width: 50%;
    			box-sizing: border-box;
    			position: relative;
    			float: left;
    			.connect_buttons_row {
    				.connect_with_email_icon {
					    float: left;
					    content: "";
					    margin-right: 8px;
					    display: inline-block;
					    width: 16px;
					    height: 16px;
					    background-size: 16px 16px;
					    color: white;
    				}
    				.connect_with_email_text {
					    color: white;
    					float: left;
    					background-color: purple;
					    -webkit-user-select: none;
					    -moz-user-select: none;
					    -ms-user-select: none;
					    user-select: none;
					    -webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    box-sizing: border-box;
					    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
					    border-radius: 3px;
					    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
					    display: inline-block;
					    font-weight: 500;
					    outline: 0;
					    text-align: center;
					    text-decoration: none;
					    cursor: pointer;
					    margin-bottom: 16px;
					    font-size: 17px;
					    padding: 8px 16px;
					    width: 260px;
    				}
    				.connect_with_email_text:hover {
    					opacity: 0.9;
    				}
    			}
    			.TosDisclaimer {
  					color: #999;
  					font-size: 13px;
  				}
    		}
    		.signup:after {
			    content: "";
			    width: 1px;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    background-color: #e2e2e2;
			    left: 100%;
				}
    		.login {
					padding-left: 32px;
    			width: 50%;
    			box-sizing: border-box;
    			float: left;
    			.regular_login {
    				display: block;
    				form {
	    				display: block;
	    				margin-top: 0em;
		    			.title {
		    				margin-bottom: 8px;
		    				font-weight: bold;
		    			}
		    			.form_inputs {
		    				.form_column {
		    					input {
		    						 -webkit-box-sizing: border-box;
								    -moz-box-sizing: border-box;
								    box-sizing: border-box;
								    outline: 0;
								    border: 1px solid #e2e2e2;
								    border-radius: 3px;
								    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
								    -webkit-transition: border-color .2s;
								    transition: border-color .2s;
								    -webkit-transition: border-color .2s 180ms ease-in-out 0s;
								    -o-transition: border-color .2s 180ms ease-in-out 0s;
								    transition: border-color .2s 180ms ease-in-out 0s;
		    						background-color: #EEE;
								    width: 100%;
								    font-size: 15px;
								    line-height: 1.4;
								    min-height: 32px;
								    margin-bottom: 8px;
								    padding: 3px 5px;
    								height: 15px;
								    padding-left: 8px;
								    padding-right: 8px;
		    					}
		    					input:focus {
		    						border-color: #333;
		    					}
		    					.login_options {
		    						a {
									    text-decoration: none;
									    color: #999;
		    							font-weight: 400;
									    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
									    font-size: 13px;
									    line-height: 1.4;
									    word-wrap: break-word;
		    						}
		    						a:hover {
										    text-decoration: underline;
										}
		    					}
		    				}
		    			}
	    			}
	    		}
    		}
    	}
    }
    .footerNav {
    	display: block;
	    padding: 16px;
	    border-top: 1px solid #e2e2e2;
	    background: #f7f7f7;
	    word-wrap: break-word;
	    color: #333;
	    font-size: 13px;
	    text-align: center;
	    .navList {
        display: inline-block;
  	    text-align: center;
  	    list-style: none;
    		margin: 0;
    		padding: 0;
    		li {
    			float: left;
    			margin-right: 16px;
    		}
    		a {
    			color: rgba(175,175,175,0.95);
    			text-decoration: none;
    		}
	    }
		}
  }
  .content_inner {
  	padding: 32px;
  	height: 120px;
  }
}